hydraa @ git+https://github.com/radical-project/radical.dream.git

aiohttp
boto3
botocore
httpx
nuclio
pyyaml

# dependencies hydraa failed to install
radical.utils
radical.pilot
python-blazarclient
lexicon
